<script>
    jQuery(function($){
        var form = $("#cache_front_form");
        form.find("#btn-add-path").click(function(){
            var a = '<div class="input-group"> <input name="cache[paths][]" type="text" class="form-control" value=""> <span class="input-group-addon border_trans"><i class="round_icon fa fa-times text-danger del_path "></i></span> </div>';
            form.find("#paths").append(a);
            return false;
        });
        form.on("click", ".del_path", function(){
            $(this).closest(".input-group").remove();
        });
        $('#camaleon_sitemap_customizer_form select').selectpicker();
    });
</script>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Sitemap Settings</h4>
    </div>
    <div class="panel-body">
        <div class="alert alert-info">
          Camaleon CMS automatically generates a sitemap. Select the content types you wish to <b>exclude</b> from this sitemap.
          <br>The sitemap will not include:<br>
          <ul>
            <li>Post pages for individual posts of selected types</li>
            <li>Post Type pages for listing posts of selected types</li>
            <li>Category pages for listing posts within a category of selected types</li>
          </ul>
        </div>
        <%= form_tag(url_for(action: :save_settings), id: 'camaleon_sitemap_customizer_form', class: 'validate') do %>
            <div class="form-group">
                <label>Content Types to exclude</label>
                <%= select_tag("options[skip_post_types]", options_from_collection_for_select(current_site.post_types.decorate, "id", "the_title", @plugin.get_option('skip_post_types')), class: "form-control select", multiple: true, "data-live-search"=>"true") %>
            </div>
            <%= render partial: "camaleon_cms/admin/settings/custom_fields/render", locals: {record: @plugin, field_groups: @plugin.get_field_groups} %>
            <div class="form-group text-right">
                <%= submit_tag 'Save Settings', class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>
</div>
